@mixin generate-containers () {
  @each $key, $value in $containers {
    .o-container--#{$key} {
      max-width: $value;
    }
  }
}

@mixin generate-gutters () {
  @each $key, $value in $containers {
    .o-grid--gutter-#{$key} {
      margin-left: -$value;
      > * { padding-left: $value; }
    }
  }
}
