.o-grid {
  display: flex;
  flex-wrap: wrap;
}

.o-grid--center { align-items: center; }
.o-grid--justify { justify-content: space-between; }
.o-grid--stretch { align-items: stretch; }

@include generate-gutters ();

@include generate-columns (12);
